*{
    color: yellow;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 1.5px;
}

*::-webkit-scrollbar{
    display:none;
}

/*Startsidan */

body {
    --color1: black;
    background-color: black;
    overflow-x: hidden;
}

#index_body{
    display: grid;
    grid-template-areas: 
    "hdr hdr"
    "wel wel"
    "mov mov"
    "hey hey"
    "re1 re2"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 4rem 1fr 4rem auto;
    height: auto;
    width: auto;
}

h2{
    font-size: 2rem;
    font-family: 'Oxygen', sans-serif;
}

header{
    grid-area: hdr;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid yellow;
    font-size: 1.3rem;
    width: 60vw;
    margin: auto;
    font-family: 'Oxygen', sans-serif;
}

#add_icon{
    height: 90px;
}

header img{
    height: 100px;
}



header h1 a{
    text-decoration: none;
}

#search_bar_parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#search_icon{
    height:25px;
    position: relative;
    left: -30px;
}

#search_bar{
    float: right;
    padding: 6px;
    font-size: 17px;
    height: 25px;
    width: 150px;
    border-style: solid;
    border-radius: 5px;
    border-color: yellow;
}

#welcome{
    grid-area: wel;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 1vh;
}

#list_container{
    grid-area: mov;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 59.5vw;
    margin: auto;
    overflow-x: hidden;
}

#list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    gap: 45px;
    list-style: none;
    margin-left: 20px;
    width: inherit;
    overflow-x: scroll;
}

/*Tar bort scrollbaren men ser till att den fortfarande funkar*/
#list::-webkit-scrollbar {
    display: none;
}/*Fixa: ska man kunna scrolla manuellt????*/

.movie_poster{ /*Man kan scrolla typ 20pixlar efter sista trion*/
    border-radius: 20px;
    height: 50vh;
    width: auto;
    margin: 0;
    padding: 0;
    flex: none;
}

#arrow_left{
    position: absolute;
    left: 10vw;
}

#arrow_right{
    position: absolute;
    right: 10vw;
}

#pop_reviews{
    grid-area: hey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 1vh;
}

#featured_review{
    margin-top: 5vh;
    padding-top: 5vh;
    grid-area: re1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    border-radius: 1px;
    border-width: 0.3vw;
}

.feat_reviews{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid yellow;
    padding: 5px;
    border-radius: 3px;

}

.feat_reviews img{
    height: 35vh;
    border-radius: 2px;
    display: flex;

}

.feat_review_text{
    margin-left: 1vw;
    width: 15vw;
}


#featured_review2{
    margin-top: 5vh;
    padding-top: 5vh;
    grid-area: re2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    border-radius: 1px;
    border-width: 0.3vw;
}





/*Login/signup-sidan*/


#login_body{
    display: grid;
    grid-template-areas:
    "hdr"
    "log"
    "sig"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 50vh 100px;
    height: 100vh;
    background-image: url(/img/poster_background2.jpg);
    overflow-y: hidden;
}


#login{
    grid-area: log;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    margin: auto;
    opacity: 92%;
    border-radius: 10px;
}   

#login form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    gap: 2vh;
}

.enter_field{
    width: inherit;
    border-radius: 8px;
    height: 3rem;  
}

.submit_button{
    background-color: yellow;
    color: black;
    border-radius: 8px;
    height: 3rem;
    width: 150px;
    font-size: 1rem;
}

#signup{
    grid-area: sig;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    width: 20vw;
    height: 14vh;
    margin: auto;
    opacity: 92%;
    border-radius: 10px;
}

#signup a{
    background-color: yellow;
    color: black;
    text-decoration: none;
    height: 2rem;
    width: 10vw;
    border-radius: 5px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#signup_body{
    display: grid;
    grid-template-areas:
    "hdr"
    "sig"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 50vh;
    height: 120vh;
    background-image: url(/img/poster_background2.jpg);
}

#signup_form{
    grid-area: sig;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    margin: auto;
    opacity: 92%;
    border-radius: 10px;
    padding-bottom: 2vh;
}

#signup_form form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    gap: 2vh;
}

/*Sök-sidan*/

#search_body{
    display: grid;
    grid-template-areas:
    "hdr"
    "flt"
    "nam"
    "moi"
    "mov"
    "pri"
    "pro"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 10vh 4rem 4rem 40vh 3rem 1fr;
    height: 150vh;
    width: auto;
}

#filters_container{
    grid-area: flt;
    width: 50vw;
    margin: auto;
    height: 10vh;
}

#search_name{
    grid-area: nam;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result_movies{
    grid-area: moi;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result_profiles{
    grid-area: pri;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result_movie_posters{
    grid-area: mov;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#result_movie_posters img{
    height: 40vh;
    border-radius: 5px;
}

#result_profiles_section{
    grid-area: pro;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profile_items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    border-style: solid;
    border-radius: 5px;
    border-color: yellow;
    height: 20vh;
    width: 20vw;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: clip;
}

.profile_items img{
    height: 10vh;
}

.profile_items div{
    width: 10vw;
    max-height: 10vh;
}

h3{
    font-size: 1.6rem;
    font-family: 'Oxygen', sans-serif;
}

#movie_body{
    display: grid;
    grid-template-areas:
    "hdr"
    "img"
    "ttl"
    "txt"
    "rev"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto 3rem 25vh 20vh;
    height: 120vh;
    width: 100%;
    overflow-x: hidden;
}

#big_movie_poster{
    grid-area: img;
    width: 60vw;
    margin: auto;
    border-radius: 10px;
}

#movie_title{
    grid-area: ttl;
    display: flex;
    justify-content: center;
    align-items: center;
}

#description_and_info{
    grid-area: txt;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#description{
    width: 30vw;
}

#movie_info_p{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#featured_movie_reviews{
    grid-area: rev;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.single_review{
    position: relative;
    top: 10vh;
    height: auto;
    width: 20vw;
    border: 3px solid yellow;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.single_review h4{
    font-size: 1.2rem;
    font-family: 'Oxygen', sans-serif;
}

#profile_body{
    display: grid;
    grid-template-areas:
    "hdr"
    "inf"
    "rwa"
    "rre"
    "rli"
    ;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 30vh 60vh 60vh 60vh;
}

#profile_info{
    grid-area: inf;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

}

#profile_picture{
    height: 30vh;
    border-radius: 2px;
}

#profile_stuff{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#profile_stuff h2{
    text-decoration: underline;
    margin-top: 0;
}

#settings_icon{
    height: 2rem;
    margin-left: 1vw;
}

#profile_stuff_container{
    width: inherit;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    margin-left: 4vw;
}

#rec_watched{
    grid-area: rwa;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 7vh;
}

#rec_watched_container{
    height: auto;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#rec_watched_container img{
    height: 35vh;
    border-radius: 2px;
}

.all_button{
    background-color: yellow;
    color: black;
    border-radius: 4px;
    text-decoration: none;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-left: 1vw;

}

#rec_reviewed{
    grid-area: rre;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
}

#recent_rev_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
    margin: auto;
}

.rec_reviews{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid yellow;
    padding: 5px;
    border-radius: 3px;
}

.rec_reviews img{
    height: 30vh;
    border-radius: 2px;
}

.rec_review_text{
    margin-left: 1vw;
    width: 15vw;
}

#lists{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#lists_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 40vh;
    margin: auto;
}

.profile_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_posters{
    height: 35vh;
    border-radius: 2px;
}

#add_body{
    display: grid;
    grid-template-areas: 
    "hdr"
    "ttl"
    "txt"
    "btn"
    ;
    height: auto;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 5rem 50vh 4rem;
}

#add_movie_title{
    grid-area: ttl;
    display: flex;
    justify-content: center;
    align-items: center;

}

#add_movie_title input{
    width: 20vw;
}

#review_text_and_buttons{
    grid-area: txt;
    display: flex;
    height: 40vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#watched_and_spoilers{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

.checkbox_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 2rem;
}

/*Större font-size??*/
#reviewbox {
    height: 30vh;
    width: 30vw;
    border: 2px solid yellow;
    border-radius: 7px;
    resize:none;
    font-size: normal;
}

#add_button{
    grid-area: btn;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_button h3{
    background-color: yellow;
    color: black;
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}