*{
    background-color: black;
    color: yellow;
}

/*Fixa:
större font size
Annan font??

*/
/*Startsidan */

body {
    --color1: black;
}

#index_body{
    display: grid;
    grid-template-areas: 
    "hdr hdr"
    "wel wel"
    "mov mov"
    "hey hey"
    "re1 re2"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 4rem 1fr 4rem 1fr;
    height: auto;
    width: auto;
}

h2{
    font-size: 2rem;
    font-family: 'Oxygen', sans-serif;
}

header{
    grid-area: hdr;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid yellow;
    font-size: 1.3rem;
    width: 60vw;
    margin: auto;
    font-family: 'Oxygen', sans-serif;
}

header img{
    height: 100px;
}

header h1 a{
    text-decoration: none;
}

#search_bar_parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#search_icon{
    height:25px;
    position: relative;
    left: -30px;
}

#search_bar{
    float: right;
    padding: 6px;
    font-size: 17px;
    height: 25px;
    width: 150px;
    border-style: solid;
    border-radius: 5px;
    border-color: yellow;
}

#welcome{
    grid-area: wel;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 1vh;
}

#list_container{
    grid-area: mov;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 59.5vw;
    margin: auto;
    overflow-x: hidden;
}

#list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    gap: 45px;
    list-style: none;
    margin-left: 20px;
    width: inherit;
    overflow-x: scroll;
}

/*Tar bort scrollbaren men ser till att den fortfarande funkar*/
#list::-webkit-scrollbar {
    display: none;
}/*Fixa: ska man kunna scrolla manuellt????*/

.movie_poster{ /*Man kan scrolla typ 20pixlar efter sista trion*/
    border-radius: 20px;
    height: 50vh;
    width: auto;
    margin: 0;
    padding: 0;
    flex: none;
}

#arrow_left{
    position: absolute;
    left: 10vw;
}

#arrow_right{
    position: absolute;
    right: 10vw;
}

#pop_reviews{
    grid-area: hey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 1vh;
}

#featured_review{
    margin-top: 5vh;
    padding-top: 5vh;
    grid-area: re1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    border-right: 2px solid yellow;
    border-radius: 1px;
    border-width: 0.3vw;
}

#featured_review img{
    border-radius: 20px;
    height: 50vh;
    width: 205.5;
    margin-left: 1vw;
}

#featured_review article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}


#stars span{
    color: grey;
}


#featured_review2{
    margin-top: 5vh;
    padding: 5vh;
    grid-area: re2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
}

#featured_review2 img{
    border-radius: 20px;
    height: 50vh;
    width: 205.5;
    margin-left: 1vw;
}

#featured_review2 article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}









/*Login/signup-sidan*/


#login_body{
    display: grid;
    grid-template-areas:
    "hdr"
    "log"
    "sig"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 50vh 100px;
    height: 100vh;
    background-image: url(/img/poster_background2.jpg);
    overflow-y: hidden;
}


#login{
    grid-area: log;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    margin: auto;
    opacity: 92%;
    border-radius: 10px;
}   

#login form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    gap: 2vh;
}

.enter_field{
    width: inherit;
    border-radius: 8px;
    height: 3rem;  
}

.submit_button{
    background-color: yellow;
    color: black;
    border-radius: 8px;
    height: 3rem;
    width: 150px;
    font-size: 1rem;
}

#signup{
    grid-area: sig;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    width: 20vw;
    height: 14vh;
    margin: auto;
    opacity: 92%;
    border-radius: 10px;
}

#signup a{
    background-color: yellow;
    color: black;
    text-decoration: none;
    height: 2rem;
    width: 10vw;
    border-radius: 5px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#signup_body{
    display: grid;
    grid-template-areas:
    "hdr"
    "sig"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 50vh;
    height: 120vh;
    background-image: url(/img/poster_background2.jpg);
}

#signup_form{
    grid-area: sig;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;
    margin: auto;
    opacity: 92%;
    border-radius: 10px;
    padding-bottom: 2vh;
}

#signup_form form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    gap: 2vh;
}

/*Sök-sidan*/

#search_body{
    display: grid;
    grid-template-areas:
    "hdr"
    "nam"
    "moi"
    "mov"
    "pri"
    "pro"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 4rem 3rem 1fr 3rem 1fr;
    height: 150vh;
    width: auto;
}

#search_name{
    grid-area: nam;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result_movies{
    grid-area: moi;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result_profiles{
    grid-area: pri;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result_movie_posters{
    grid-area: mov;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#result_movie_posters img{
    height: 28vh;
    border-radius: 5px;
}

#result_profiles_section{
    grid-area: pro;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profile_items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    border-color: yellow;
    height: 20vh;
    width: 20vw;
}

.profile_items img{
    height: 10vh;
}

.profile_items div{
    width: 10vw;
    max-height: 20vh;
}

h3{
    font-size: 1.6rem;
    font-family: 'Oxygen', sans-serif;
}

#movie_body{
    display: grid;
    grid-template-areas:
    "hdr"
    "img"
    "ttl"
    "txt"
    "rev"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto 3rem 25vh 20vh;
    height: 120vh;
    width: 100%;
    overflow-x: hidden;
}

#big_movie_poster{
    grid-area: img;
    width: 60vw;
    margin: auto;
    border-radius: 10px;
}

#movie_title{
    grid-area: ttl;
    display: flex;
    justify-content: center;
    align-items: center;
}

#description_and_info{
    grid-area: txt;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#description{
    width: 30vw;
}

#movie_info_p{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#featured_movie_reviews{
    grid-area: rev;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.single_review{
    height: 18vh;
    width: 20vw;
    border: 3px solid yellow;
    border-radius: 5px;
    padding: 10px;
}

.single_review h4{
    font-size: 1.2rem;
    font-family: 'Oxygen', sans-serif;
}