*{
    background-color: black;
    color: yellow;
}

/*Fixa:
större font size
Annan font??

*/
/*Startsidan */
#index_body{
    display: grid;
    grid-template-areas: 
    "hdr hdr"
    "wel wel"
    "mov mov"
    "hey hey"
    "re1 re2"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 4rem 1fr 4rem 1fr;
    height: auto;
    width: auto;
}

h2{
    font-size: 2rem;
}

header{
    grid-area: hdr;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid yellow;
    font-size: 1.3rem;
    width: 60vw;
    margin: auto;
}

header img{
    height: 100px;
}

header h1 a{
    text-decoration: none;
}



#search_bar{
    float: right;
    padding: 6px;
    font-size: 17px;
    height: 25px;
    width: 150px;
    border-style: solid;
    border-radius: 5px;
    border-color: yellow;
}

#welcome{
    grid-area: wel;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 1vh;
}

#list_container{
    grid-area: mov;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 59.5vw;
    margin: auto;
    overflow-x: hidden;
}

#list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    gap: 45px;
    list-style: none;
    margin-left: 20px;
    width: inherit;
    overflow-x: scroll;
}

/*Tar bort scrollbaren men ser till att den fortfarande funkar*/
#list::-webkit-scrollbar {
    display: none;
}/*Fixa: ska man kunna scrolla manuellt????*/

.movie_poster{ /*Man kan scrolla typ 20pixlar efter sista trion*/
    border-radius: 20px;
    height: 50vh;
    width: auto;
    margin: 0;
    padding: 0;
    flex: none;
}

#arrow_left{
    position: absolute;
    left: 10vw;
}

#arrow_right{
    position: absolute;
    right: 10vw;
}

#pop_reviews{
    grid-area: hey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 1vh;
}

#featured_review{
    margin-top: 5vh;
    padding-top: 5vh;
    grid-area: re1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    border-right: 2px solid yellow;
    border-radius: 1px;
    border-width: 0.3vw;
}

#featured_review img{
    border-radius: 20px;
    height: 50vh;
    width: 205.5;
    margin-left: 1vw;
}

#featured_review article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}


#stars span{
    color: grey;
}


#featured_review2{
    margin-top: 5vh;
    padding: 5vh;
    grid-area: re2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
}

#featured_review2 img{
    border-radius: 20px;
    height: 50vh;
    width: 205.5;
    margin-left: 1vw;
}

#featured_review2 article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}









/*Login/signup-sidan*/


#login_body{
    display: grid;
    grid-template-areas:
    "hdr"
    "log"
    "sig"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 50vh 100px;
    height: auto;
}


#login{
    grid-area: log;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}   

#login form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    gap: 2vh;
}

.enter_field{
    width: inherit;
    border-radius: 8px;
    height: 8vh;
    
}

.submit_button{
    background-color: yellow;
    color: black;
    border-radius: 8px;
    height: 8vh;
    width: 150px;
    font-size: 1rem;
}

.submit_button:hover{
    cursor:pointer;
    font-style: bold;
}


#signup{
    grid-area: sig;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

#signup a{
    background-color: red;
    height: 2rem;
    width: 10vw;
    border-radius: 5px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}