* { margin: 0; padding: 0; }

a { text-decoration: none; }
li { list-style-type: none; }
ul { list-style-type: none; }
/* button { border: none; } */

#btn_l, #btn_r {
    width: 40px; height: 25px;
    background-color: aquamarine;
}

.item_list_container {
    border: solid 1px red;
    margin: 0 auto;
    width: 540px;
    overflow-x: hidden;
}

.item_list {
    display: flex;
    column-gap: 10px;
    position: relative;
    left: 0px;
}

.item_container {
    width: 100px;
    height: max-content;
    display: flex;
    flex: none;
    flex-direction: column;
    align-items: center;
    background-color: grey;
}

.block1 {
    width: 100%;
    height: 50px;
    display: block;
    background-color: rgb(70, 70, 70);
}

.block2 {
    width: 100%;
    height: 150px;
    display: block;
    background-color: green;
}

.block3 {
    width: 100%;
    height: 50px;
    display: block;
    background-color: rgb(176, 24, 24);
}

#star_container {
    width: 325px;
    height: 50px;
    background-color: blueviolet;
    position: relative;
}

#stars_true {
    width: max-content;
    height: max-content;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: cadetblue;
    z-index: 0;
    column-gap: 10px;
}

.star {
    width: 50px;
    height: 50px;
    background-color: fuchsia;
}

#stars_false {
    width: max-content;
    height: max-content;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkseagreen;
    z-index: 1;
}

.half-star {
    width: 25px;
    height: 50px;
    background-color: red;
}

#star_container.inactive .half-star { background-color: pink !important; }

.half-star.r { margin-right: 10px; }
.half-star.r[data-nbr="10"] { margin-right: 0; }

.half-star.hover {
    background-color: blue;
}

.half-star.activated {
    background-color: green;
}

.half-star.activated.hover {
    background-color: cyan;
}