
/* ~GENERAL~ */

* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    /* letter-spacing: 1.5px; */
}

/* ::-webkit-scrollbar {

} */

body {
    --color1: black;
    --color2: yellow;
    --color3: green;

    /* background-color: var(--color1); */
    background-color: grey;
}

a { text-decoration: none; }
ul, ol, li { list-style-type: none; }

h2 {
    font-size: 2rem;
    font-family: 'Oxygen', sans-serif;
}

.button {
    min-width: 5.5rem;
    height: 2rem !important;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    font-size: 1rem;
    color: var(--color1);
    background-color: var(--color2);

    border: 0.2rem solid var(--color3);
    border-radius: 0.3rem;
}

input {
    width: 10rem;
    height: 2rem;
    padding-left: 0.3rem;

    font-size: 1rem;
    border: 0.2rem solid var(--color1);
    border-radius: 0.3rem;
}

a.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button.button {

} */

/* ~END OF GENERAL~ */

/* ~HEADER~ */

header:first-of-type {
    width: max-content;
    height: 100px;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-bottom: 5px solid yellow;
    /* font-size: 1.3rem; */
}

header .logo_container {
    height: 100px;
}

header nav {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

header .search_form {
    padding: 0.3rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--color2);
    border-radius: 0.3rem;
}

/* #search_icon {
    height:25px;
    position: relative;
    left: -30px;
} */

header .search_bar { margin-right: 0.3rem; }

header .search_form .button {
    color: var(--color2);
    background-color: var(--color1);
}

footer:first-of-type {
    width: max-content;
    height: 100px;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-top: 5px solid yellow;
}

/* ~END OF HEADER~ */

/* ~INDEX (START)~ */

/* body.index:first-of-type {

} */

.item_list_section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* button.scroll {

} */

.item_list_container {
    display: flex;
    align-items: center;
}

.item_list_limits {
    width: 540px;
    height: max-content;
    margin: 0 0.2rem;
    padding: 0.2rem;

    overflow: hidden;
    border-radius: 0.3rem;
    border: 0.1rem solid  lightblue;
}

.item_list {
    width: max-content;

    display: flex;
    align-items: center;
    column-gap: 10px;

    position: relative;
    left: 0px;
}

.item_container.activity {
    width: 100px;
    height: 250px;

    display: flex;
    flex: none;
    flex-direction: column;
    align-items: center;

    background-color: midnightblue;
}

.block1, .block2 {
    width: 100%;
    height: 50px;
    display: block;
}
.block1 { background-color: darkmagenta; }
.block2 { background-color: darkslateblue; }
.block1 a { color: white; }

.item_link.activity {
    width: 100%;
    height: 200px;

    display: flex;
    flex: none;
    flex-direction: column;
    align-items: center;
}

img.poster {
    width: 100px;
    display: block;
}

.item_container.activity .half_star {
    width: 4px;
    height: 8px;
    background-color: cornflowerblue;
}
.item_container.activity .half_star.r { margin-right: 2px; }

.item_container.activity .stars {
    display: flex;
}

.show_more {
    width: 100px;
    height: 150px;
    background-color: indigo;
}

.show_more > a {
    width: 100%;
    height: 100%;
    display: block;
}

/* #list_container {
    grid-area: mov;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 59.5vw;
    margin: auto;
    overflow-x: hidden;
}

#list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    gap: 45px;
    list-style: none;
    margin-left: 20px;
    width: inherit;
    overflow-x: scroll;
}

.movie_poster { /*Man kan scrolla typ 20pixlar efter sista trion */ /*
    border-radius: 20px;
    height: 50vh;
    width: auto;
    margin: 0;
    padding: 0;
    flex: none;
}

#arrow_left {
    position: absolute;
    left: 10vw;
}

#arrow_right {
    position: absolute;
    right: 10vw;
}

#pop_reviews {
    grid-area: hey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 1vh;
}

#featured_review {
    margin-top: 5vh;
    padding-top: 5vh;
    grid-area: re1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    border-radius: 1px;
    border-width: 0.3vw;
}

.feat_reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid yellow;
    padding: 5px;
    border-radius: 3px;

}

.feat_reviews img {
    height: 35vh;
    border-radius: 2px;
    display: flex;

}

.feat_review_text {
    margin-left: 1vw;
    width: 15vw;
}


#featured_review2 {
    margin-top: 5vh;
    padding-top: 5vh;
    grid-area: re2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;
    border-radius: 1px;
    border-width: 0.3vw;
} */

/* ~END OF INDEX~ */

/* ~FORMS~ */

body.forms main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.button[name=form_choice] {
    margin-top: 1rem;
}

section#login, section#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}   

section#login form, section#signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}

/* ~END OF FORMS~ */

/* ~BROWSE~ */

#search_body {
    display: grid;
    grid-template-areas:
    "hdr"
    "flt"
    "nam"
    "moi"
    "mov"
    "pri"
    "pro"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 10vh 4rem 4rem 40vh 3rem 30vh;
    height: 130vh;
    width: auto;
}

#filters_container {
    grid-area: flt;
    width: 50vw;
    margin: auto;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#filters_container select {
    color: black;
}

#filters_container option {
    color: black;
}

#filter_button {
    color: black;
    background-color: yellow;
    width: 5vw;
    height: 2rem;
    border-radius: 5px;
    font-size: 1rem;
}

#search_name {
    grid-area: nam;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result_movies {
    grid-area: moi;
    display: flex;
    justify-content: center;
    align-items: center;
}

#result_profiles {
    grid-area: pri;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#result_movie_posters {
    grid-area: mov;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#result_movie_posters img {
    height: 40vh;
    border-radius: 5px;
}

#result_profiles_section {
    grid-area: pro;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* ~END OF BROWSE~ */

/* ~PROFILE~ */

.profile_items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    border-color: yellow;
    height: 15vh;
    width: 20vw;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: clip;
}

.profile_items img {
    height: 10vh;
}

.profile_items div {
    width: 10vw;
    max-height: 15vh;
}

h3 {
    font-size: 1.6rem;
    font-family: 'Oxygen', sans-serif;
}

#movie_body {
    display: grid;
    grid-template-areas:
    "hdr"
    "img"
    "ttl"
    "txt"
    "rev"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto 3rem 25vh 20vh;
    height: 120vh;
    width: 100%;
    overflow-x: hidden;
}

#big_movie_poster {
    grid-area: img;
    width: 60vw;
    margin: auto;
    border-radius: 10px;
}

#movie_title {
    grid-area: ttl;
    display: flex;
    justify-content: center;
    align-items: center;
}

#description_and_info {
    grid-area: txt;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#description {
    width: 30vw;
}

#movie_info_p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#featured_movie_reviews {
    grid-area: rev;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.single_review {
    position: relative;
    top: 10vh;
    height: auto;
    width: 20vw;
    border: 3px solid yellow;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.single_review h4 {
    font-size: 1.2rem;
    font-family: 'Oxygen', sans-serif;
}

#profile_body {
    display: grid;
    grid-template-areas:
    "hdr"
    "inf"
    "rwa"
    "rre"
    "rli"
    ;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 30vh 60vh 60vh 60vh;
}

#profile_info {
    grid-area: inf;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

}

#profile_picture {
    height: 30vh;
    border-radius: 2px;
}

#profile_stuff {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#profile_stuff h2 {
    text-decoration: underline;
    margin-top: 0;
}

#settings_icon {
    height: 2rem;
    margin-left: 1vw;
}

#profile_stuff_container {
    width: inherit;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    margin-left: 4vw;
}

#rec_watched {
    grid-area: rwa;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 7vh;
}

#rec_watched_container {
    height: auto;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#rec_watched_container img {
    height: 35vh;
    border-radius: 2px;
}

.all_button {
    background-color: yellow;
    color: black;
    border-radius: 4px;
    text-decoration: none;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-left: 1vw;

}

#rec_reviewed {
    grid-area: rre;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
}

#recent_rev_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
    margin: auto;
}

.rec_reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid yellow;
    padding: 5px;
    border-radius: 3px;
}

.rec_reviews img {
    height: 30vh;
    border-radius: 2px;
}

.rec_review_text {
    margin-left: 1vw;
    width: 15vw;
}

#lists {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#lists_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 40vh;
    margin: auto;
}

.profile_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_posters {
    height: 35vh;
    border-radius: 2px;
}

#add_body {
    display: grid;
    grid-template-areas: 
    "hdr"
    "ttl"
    "txt"
    "btn"
    ;
    height: auto;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 5rem 50vh 4rem;
}

#add_movie_title {
    grid-area: ttl;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_movie_title input {
    width: 20vw;
}

#review_text_and_buttons {
    grid-area: txt;
    display: flex;
    height: 40vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#watched_and_spoilers {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

.checkbox_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 2rem;
}

/*Större font-size??*/
#reviewbox  {
    height: 30vh;
    width: 30vw;
    border: 2px solid yellow;
    border-radius: 7px;
    resize:none;
    font-size: normal;
}

#add_button {
    grid-area: btn;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_button h3 {
    background-color: yellow;
    color: black;
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}