
/* ~GENERAL~ */

* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    /* letter-spacing: 1.5px; */
}

/* ::-webkit-scrollbar {

} */

body {
    --color1: black;
    --color2: yellow;
    --color3: green;

    /* background-color: var(--color1); */
    background-color: grey;
}

a { text-decoration: none; }
ul, ol, li { list-style-type: none; }

h2 {
    font-size: 2rem;
    font-family: 'Oxygen', sans-serif;
}

.button {
    min-width: 5.5rem;
    height: 2rem !important;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;

    font-size: 1rem;
    color: var(--color1);
    background-color: var(--color2);

    border: 0.2rem solid var(--color3);
    border-radius: 0.3rem;
}
a.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text], input[type=password] {
    width: 10rem;
    height: 2rem;
    padding-left: 0.3rem;

    font-size: 1rem;
    border: 0.2rem solid var(--color1);
    border-radius: 0.3rem;
}

.item_container {
    width: 100px;
    height: 150px;
}
.item_container .item_link.poster {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    display: block;
}

.item_activity_container {
    width: max-content;

    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 20px 150px 30px 16px;

    /* background-color: midnightblue; */
}
.item_activity_container .block_top a { color: black; }
.item_activity_container .block_top { 
    background-color: darkmagenta; 

    box-sizing: border-box;
    padding: 0 4px 0 4px;

    border-radius: 5px 5px 0 0;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.item_activity_container .block_bottom { 
    padding: 0 4px 0 4px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 0 0 5px 5px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;

    background-color: darkslateblue; 
}
.item_activity_link.poster {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.item_activity_container .star_container { 
    display: flex; 
}
.item_activity_container .half_star {
    width: 5px;
    height: 10px;

    background-color: cornflowerblue;
}
.item_activity_container .half_star.l { 
    border-radius: 5px 0 0 5px;
}
.item_activity_container .half_star.r { 
    margin-right: 3px;
    border-radius: 0 5px 5px 0;
}
.item_activity_container .icon_review {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: lightcyan;
}
.item_activity_container .icon_rewatch {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: plum;
    margin-right: 3px;
}
.item_activity_container .icon_spoilers {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: lightseagreen;
}
.item_activity_container .outer {
    max-width: 100%;
    max-height: 100%;

    display: flex;
    align-items: center;

    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 10px;
}
.item_activity_container .outer p.date { margin-right: auto; }

.review_container {
    width: max-content;
    height: max-content;
    padding: 10px;
    border: 5px solid black;

    display: grid;
    grid-template-columns: 80px 300px;
    grid-template-rows: max-content 160px;
    gap: 10px;
}
.review_container .review_item_container {
    grid-row-start: 1;
    grid-row-end: span 2;
}
.review_container .review_item_link.poster {
    width: 80px;
    height: 120px;
    margin-bottom: 10px;

    display: block;

    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
}
.review_container .review_item_container a.button { 
    min-width: unset !important; 
    width: unset !important; 
    width: 100%; 
}
.review_container .top_container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.review_container .star_container { 
    display: flex; 
}
.review_container .icon_like {
    width: 16px;
    height: 16px;
    margin-left: 10px;

    border-radius: 8px;
    background-color: hotpink;
}
.review_container .half_star {
    width: 8px;
    height: 16px;

    background-color: cornflowerblue;
}
.review_container .half_star.l { 
    border-radius: 8px 0 0 8px;
}
.review_container .half_star.r { 
    margin-right: 3px;
    border-radius: 0 8px 8px 0;
}
.review_container .icon_spoilers {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: lightseagreen;
}
.review_container .review_text {
    text-align: justify;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
.review_container .spoiler_prompt {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

/* ~END OF GENERAL~ */

/* ~HEADER~ */

header {
    width: max-content;
    height: 100px;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-bottom: 5px solid yellow;
}

header .logo_container {
    height: 100px;
}

header nav {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

header .search_form {
    padding: 0.3rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--color2);
    border-radius: 0.3rem;
}

header .search_bar { margin-right: 0.3rem; }

header .search_form .button {
    color: var(--color2);
    background-color: var(--color1);
}

footer:first-of-type {
    width: max-content;
    height: 100px;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border-top: 5px solid yellow;
}

/* ~END OF HEADER~ */

/* ~INDEX (START)~ */

.item_list_section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.item_list_section h2 { margin-top: 1rem; }
.item_list_section select[name=popular-type] { 
    margin-top: 0.5rem; 

    /* width: 8rem;
    height: 2rem;
    padding-left: 0.3rem;

    font-size: 1rem;
    border: 0.2rem solid var(--color1);
    border-radius: 0.3rem;
    background-color: var(--color2); */
}
.item_list_section .item_list_container {
    margin-top: 1rem;
    
    display: flex;
    align-items: center;
}
.item_list_section .item_list_limits {
    width: 540px;
    height: max-content;
    margin: 0 0.2rem;

    padding: 0.2rem;
    box-sizing: content-box;

    overflow: hidden;
    border-radius: 0.3rem;
    border: 0.1rem solid  lightblue;
}
.item_list_section .item_list {
    width: max-content;

    display: flex;
    align-items: center;
    column-gap: 10px;

    position: relative;
    left: 0px;
}
.item_list_section .button.scroll {
    min-width: unset !important;
    width: 2rem;
    height: unset !important;
    height: 5.5rem !important;
}

/* ~END OF INDEX~ */

/* ~FORMS~ */

body.forms main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.button[name=form_choice] {
    margin-top: 1rem;
}

section#login, section#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}   

section#login form, section#signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}

/* ~END OF FORMS~ */

/* ~BROWSE~ */

section#browse_filter {
    padding-bottom: 1rem;

    display: flex;
    justify-content: center;
}

section#browse_filter form {
    margin-top: 1rem;

    display: grid;
    grid-template-columns: 12rem 12rem;
    grid-template-rows: max-content max-content;
    column-gap: 1rem;
    row-gap: 0.5rem;
}

section#browse_filter .button_container { 
    grid-column-end: span 2;
    
    display: flex;
    justify-content: center;
}

section#browse_filter .filter_segment {
    padding: 0.8rem;

    background-color: var(--color2);
    border-radius: 0.3rem;
}

section#browse_filter .filter_option {
    width: 100%;
    height: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

section#browse_filter select {
    width: 5.5rem;
}

section#browse_items {
    display: flex;
    justify-content: center;
}

section#browse_items ul {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-auto-rows: 150px;
    column-gap: 4rem;
    row-gap: 2rem;
}

/* ~END OF BROWSE~ */

/* ~ITEM~ */

section#item_grid_container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

body#item #main_poster_container {
    width: 200px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: content-box;
    background-color: black;
    border: 0.2rem solid var(--color2);
    border-radius: 0.5rem;
    overflow: hidden;

    grid-row-start: 1;
    grid-row-end: span 2;
}

body#item #main_poster_container > img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

#title_container {
    width: 400px;
}

#actions_container {
    width: 200px;
    height: 300px;

    background-color: blueviolet;

    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
}

#description_container {
    grid-column-start: 2;
    grid-row-start: 2;
}

section#selected_reviews #review_lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* #movie_title {
    grid-area: ttl;
    display: flex;
    justify-content: center;
    align-items: center;
}

#description_and_info {
    grid-area: txt;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#description {
    width: 30vw;
}

#movie_info_p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#featured_movie_reviews {
    grid-area: rev;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.single_review {
    position: relative;
    top: 10vh;
    height: auto;
    width: 20vw;
    border: 3px solid yellow;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.single_review h4 {
    font-size: 1.2rem;
    font-family: 'Oxygen', sans-serif;
} */

/* ~END OF ITEM~ */

/* ~PROFILE~ */

#profile_body {
    display: grid;
    grid-template-areas:
    "hdr"
    "inf"
    "rwa"
    "rre"
    "rli"
    ;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 30vh 60vh 60vh 60vh;
}

#profile_info {
    grid-area: inf;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

}

#profile_picture {
    height: 30vh;
    border-radius: 2px;
}

#profile_stuff {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#profile_stuff h2 {
    text-decoration: underline;
    margin-top: 0;
}

#settings_icon {
    height: 2rem;
    margin-left: 1vw;
}

#profile_stuff_container {
    width: inherit;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    margin-left: 4vw;
}

#rec_watched {
    grid-area: rwa;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 7vh;
}

#rec_watched_container {
    height: auto;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#rec_watched_container img {
    height: 35vh;
    border-radius: 2px;
}

.all_button {
    background-color: yellow;
    color: black;
    border-radius: 4px;
    text-decoration: none;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin-left: 1vw;

}

#rec_reviewed {
    grid-area: rre;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
}

#recent_rev_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
    margin: auto;
}

.rec_reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid yellow;
    padding: 5px;
    border-radius: 3px;
}

.rec_reviews img {
    height: 30vh;
    border-radius: 2px;
}

.rec_review_text {
    margin-left: 1vw;
    width: 15vw;
}

#lists {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#lists_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 40vh;
    margin: auto;
}

.profile_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_posters {
    height: 35vh;
    border-radius: 2px;
}

#add_body {
    display: grid;
    grid-template-areas: 
    "hdr"
    "ttl"
    "txt"
    "btn"
    ;
    height: auto;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 5rem 50vh 4rem;
}

#add_movie_title {
    grid-area: ttl;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_movie_title input {
    width: 20vw;
}

#review_text_and_buttons {
    grid-area: txt;
    display: flex;
    height: 40vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#watched_and_spoilers {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

.checkbox_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 2rem;
}

/*Större font-size??*/
#reviewbox  {
    height: 30vh;
    width: 30vw;
    border: 2px solid yellow;
    border-radius: 7px;
    resize:none;
    font-size: normal;
}

#add_button {
    grid-area: btn;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add_button h3 {
    background-color: yellow;
    color: black;
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}